@use 'reset';

body {
  background: #ff4dff;

  main {
    width: 100%;
    min-height: 100vh;

    h1 {
      margin-top: 50px;
      font-size: 32px;
      text-align: center;
    }

    #toDoForm {
      margin: 110px auto 40px;
      width: 40vw;

      label {
        display: block;
        text-align: center;
        font-size: 24px;
      }

      .formWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
      }

      #toDoInput {
        text-align: center;
        font-size: 20px;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: medium none;
        width: 30px;
        height: 30px;
      }
    }

    .tasksContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .taskContainer {
        background: #fff;
        padding: 10px;
        width: 40vw;
        border-radius: 10px;
        box-shadow: 0px 5px 10px black;
      }
    }
  }
}
